.wh-button {
  background: #ffffff;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
}

.wh-outline-button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  color: white;
  text-decoration: none;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
}
